name: Build and Package Matplotlib

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4  # 更新到 v4

    - name: Setup Python 3.11
      uses: actions/setup-python@v4  # 更新到 v4
      with:
        python-version: '3.11'

    - name: Install Build Tools and Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc g++ make pkg-config
        python -m pip install --upgrade pip wheel setuptools

    - name: Build Matplotlib with Dependencies
      run: |
        python -m pip wheel matplotlib==3.9.1 -w wheels

    - name: Package Dependencies
      run: |
        python -m pip install matplotlib==3.9.1
        python -m pip freeze > requirements.txt
        python -m pip wheel -r requirements.txt -w wheels

    - name: Upload Built Wheels
      uses: actions/upload-artifact@v4  # 更新到 v4
      with:
        name: built-wheels
        path: ./wheels/*.whl

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Built Wheels
      uses: actions/download-artifact@v4  # 更新到 v4
      with:
        name: built-wheels
        path: ./wheels

    - name: Create GitHub Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: './wheels/*.whl'
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        name: Release ${{ github.ref }}
        body: Release ${{ github.ref }}
        draft: false
        prerelease: false

