name: Build Matplotlib for FreeBSD

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Docker
        run: sudo apt-get install docker.io -y

      - name: Pull FreeBSD Docker image
        run: docker pull yuiitsu/freebsd:14.1

      - name: Run FreeBSD Docker container and build Matplotlib
        run: |
          docker run --name freebsd-builder -d yuiitsu/freebsd:14.1 /bin/sh -c "while true; do sleep 1000; done"
          docker exec freebsd-builder sh -c "pkg install -y python311 py311-pip py311-setuptools py311-wheel gcc wget"
          docker exec freebsd-builder sh -c "wget https://github.com/matplotlib/matplotlib/archive/refs/tags/v3.9.1.tar.gz"
          docker exec freebsd-builder sh -c "tar -xzf v3.9.1.tar.gz"
          docker exec freebsd-builder sh -c "cd matplotlib-3.9.1 && pip install -r requirements/build.txt"
          docker exec freebsd-builder sh -c "cd matplotlib-3.9.1 && python3.11 setup.py bdist_wheel"
          docker cp freebsd-builder:/matplotlib-3.9.1/dist ./dist

      - name: Upload built wheels
        uses: actions/upload-artifact@v4
        with:
          name: built-wheels
          path: ./dist/*.whl

